<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556993387901-t8vp6ldj1aoe5p21krp0cih027kh7i5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556993387901-t8vp6ldj1aoe5p21krp0cih027kh7i5d</string>
	<key>API_KEY</key>
	<string>AIzaSyAuuRJhvtIKNqLjDu2omVjaGnVmqDOPQfk</string>
	<key>GCM_SENDER_ID</key>
	<string>556993387901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-8c3d8</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-8c3d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556993387901:ios:4c68b934790593ade88014</string>
</dict>
</plist>